.card {
    margin: 10px 0;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    
    .card-inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid #e1e1e1;
      transition: box-shadow 0.2s ease-in-out;
  
      &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      }
    }
  
    .card-header--top {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .card-title {
        cursor: pointer;
        font-weight: bold;
        padding-top: 2px;
      }
  
      .card-sticker {
        color: black;
        float: right;
        font-size: 0.9rem;
        border-radius: 5px;
        padding: 3px 10px 2px;
        text-transform: uppercase;
        border-radius: 2px;
      }
    }
  
    .card-footer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 15px;
  
      .datetimeDeadline {
        font-size: 1rem;
        font-weight: bold;
      }
  
      .card-icons {
        margin-right: -10px;
  
        .card-icons--link {
          display: inline-block;
          padding: 0 10px;
          cursor: pointer;

          svg{
            path{
              &:hover{
                fill: grey;
              }
            }
          }
        }
      }    
    }
  
    .inwork_sticker{
      background-color: #ffd83a;
    }
    .expired_sticker{
      background-color: #ff4f4f;
    }
    .ready_sticker{
      background-color: #6ecc6e;
    }
  
    .image,
    .spacer {
      background-position: center;
      background-size: cover;
      height: 240px;
      max-width: 100%;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      padding-top: 32%;
      text-align: center;
    }
  
    .description {
      word-wrap: break-word;
      margin-top: 15px;
    }
  
    .tag {
      border: #eee 2px;
      border-radius: 25px;
      background: #73ad21;
      padding: 20px;
      width: 200px;
      height: 70px;
    }
  
    .vue-input-tag-wrapper {
      border: 0px;
    }
  }
  
  @media screen and (max-width: 550px) {
  
    .card {
      flex: 0 0 100%;
      padding: 5%;
  
      .description {
        word-wrap: break-word;
        width: 250px;
      }
    }
  }
  
  @media screen and (max-width: 800px) {
    .card {
      flex: 0 0 calc(50% - calc(1rem * 0.55));
    }
   
  }