.column{
    background-color: #dfe1e6;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    width: 33%;
    height: 100%;
    margin: 0 20px;
    transition: all 0.3s ease;

    .btn-remove{

        svg path{
            cursor: pointer;
            fill:#717e97;

            &:hover{
                fill:#060b13;     
            }
        }
    }

    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
    }

    &__items{
        padding: 16px;

        &.hovered{
            background: #abdeb3;
            border: 5px #000;
            border-style: dashed;
        }
    }

    
}

@media screen and (max-width: 1024px) {
    .column {
        width: 30%;
        margin: 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .column {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 90%;
    }
}